*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar-1__title{
    color: #8729e5;
}
.navbar-2{
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    gap: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    
}
.navbar-2 input{
    width: 100%;
    border: none;
    font-size: 16px;
    color: transparent;
}
.navbar-2 input:focus{
    outline: none;

}
.navbar-3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-4{
    display: none;
}
.category{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
}
.category p{
    background-color: #8729e5;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
     border: solid #8729e5 1px ;
   
}
.category p:hover{
    background-color: transparent;
    color: black;
    border: solid #8729e5 1px ;
   
}
.sale-image{
    position: relative;
    width: 100%;

}
.sale-1{
    width: 100%;
    height: auto;
   

}
.offer{
    position:absolute;
    background-color:#D84187 ;
    border: solid #D84187 2px;
    padding: 20px;
    border-radius: 10px;
    width:35%;
    max-width: none;
    top: 50px;
    left: 20px;
    animation-name: zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.offer p{
    font-weight: bold;
}
@keyframes zoom {
    0%{
        opacity: 0;
        transform: scale(0) ;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.recommended{
    padding: 10px;
}
.container{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.topics{
    padding: 10px;
}
.topic_container{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
     
}
.topic_container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
      padding: 10px;
}
.popular_container{
    display: flex;
    margin-top: 10px;
   flex-wrap: wrap;
    justify-content: space-between;
    
}
.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;

}
.course-card img{
    width: 100%;
    height: 60%;
}
.footer{
    padding: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    
}
.footer-1{
    display: flex;
    gap: 20px;
}
.footer-1 p{
    margin: 30px;

}
.footer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;

}
    
@media screen and (max-width:800px) {
        body{
            font-size: 10px;
        
        }
}

@media screen and (max-width:600px) {
    .category{
        display:none;
    }
    .course-card{
        flex-basis: 40%;
    }
    .navbar-3{
        display: none;
    }
    .navbar-4{
        display: block;
    }
    .navbar-2{
        width: 60%;
    }
    .navbar-2 input{
        font-size: 8px;
    }
    .offer{
        top: 10px;
        left:10px;
        width:40%;
        max-width: none;
       font-size: 5px;
       padding: 10px;
    }
    .offer p{
        font-size: 8px;
    }
    
}